.wrapper {
    margin: auto;
    position: relative;
    width: 900px;
}

.wrapper canvas {   
    border: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    position: relative;
    top: 500px;
}

.info {
    position: relative;
}

.saves {
    position: relative;
    top: 650px;
    height: 500px;
}

.saves canvas {
    position: static;
    margin: 10px;
}

#grid-canvas {
    z-index: 2;
}

#gof-canvas {
    z-index: 1;
}

.rle_area {
    height: 200px;
    width: 540px;
}

#rle_textarea {
    width: 540px;
}
.rle_area button{ 
    position: relative;
    width: 265px;
}

#pattern_canvas {
    top: 550px;
    left: 600px;
}

#save-list {
    position: relative;
    padding: 0px;
    left: 0px;
    list-style-type: none;
    width: 300px;
}

.save_list_upper {
    border: solid;
    border-width: thin;
    background-color: lightgrey;
    position: relative;
    z-idnex: 0;
}

.save_list_btn {
    position: relative;
    z-index: 1;
}
